<style>
table {
  border-collapse: collapse;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  width: 80%;
  align:center;
  margin-left: auto;
  margin-right: auto;
}

</style>

<!doctype html>
<html>
   {% include 'nav.html' %}
   <body>
      <table border = 1>
         <thead>
            <td>Movie Review</td>
            <td>Sentiment</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["review"]}}</td>
               <td>{{row["sentiment"]}}</td>
            </tr>
         {% endfor %}
      </table>
   </body>
   {% include 'footer.html' %}
</html>